* {
  padding: 0;
  margin: 0;
}

#tela {
  margin: 0.1%;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 1000px;
  height: 655px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#passarinho {
  width: 50px;
  height: 50px;
  background-image: url(../images/passarinho.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 100px;
  left: 150px;
}

#barreira1 {
  display: flex;
  align-items: flex-start;
  width: 110px;
  height: 50%;
  position: relative;
  animation: slide 3s infinite linear;
}
#barreira1 > img {
  width: 110px;
  height: 150px;
  animation: slide 3s infinite linear;
}

#barreira2 {
  display: flex;
  align-items: flex-end;
  width: 110px;
  height: 50%;
  position: relative;
  animation: slide 3s infinite linear;
}
#barreira2 > img {
  width: 110px;
  height: 150px;
  animation: slide 3s infinite linear;
}

@keyframes slide {
  0% {
    right: -100px;
  }
  100% {
    right: 1000px;
  }
}
