* {
  padding: 0;
  margin: 0;
}

#tela {
  margin: 1%;
  width: 1000px;
  height: 625px;
  border: 1px solid red;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#passarinho {
  width: 50px;
  height: 50px;
  background-image: url(../images/passarinho.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 100px;
  left: 150px;
}

#barreira1 {
  display: flex;
  align-items: flex-start;
  width: 110px;
  height: 300px;
  position: relative;
  top: -20px;
  border: 1px solid black;
  animation: slide 3s infinite linear;
}
#barreira1 > img {
  width: 110px;
  height: 100px;
  animation: slide 3s infinite linear;
}

#barreira2 {
  display: flex;
  align-items: flex-end;
  width: 110px;
  height: 300px;
  position: relative;
  bottom: -20px;
  border: 1px solid black;
  animation: slide 3s infinite linear;
}
#barreira2 > img {
  width: 110px;
  height: 100px;
  animation: slide 3s infinite linear;
}


@keyframes slide {
  0% {
    right: -1000px;
  }
  100% {
    right: 100px;
  }
}







